@font-face {
	font-family: 'neo';
	src: url(../../assets/fonts/neobold.ttf) format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'neo';
	src: url(../../assets/fonts/neoreg.otf) format('otf');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}